.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .form {
        animation: showModal .1s ease-in-out;
        background-color: #fff;
        border-radius: 5px;
        // padding: 20px;

        .header {
            padding: 20px 50px 20px 20px;
            position: relative;

            h1 {
                font-size: 20px;
                font-weight: 600;
            }

            .closeForm {
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 5px;
                color: #727272;
                transition: all .1s linear;
                cursor: pointer;

                &:hover {
                    background-color: #d9d7d7;
                }
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .selectAvatar {
                width: 100px;
                height: 100px;
                background-color: #e1dddd;
                border: 4px dashed #ccc;
                border-radius: 5px;
                text-align: center;
                line-height: 100px;
                font-size: 30px;
                color: #ccc;
                box-sizing: content-box;
                img{
                    object-fit: cover;
                    width: 100px;
                    height: 100px;
                }
                

                cursor: pointer;
                &:hover{
                    filter: brightness(.9);
                }
            }

            .name {
                outline: none;
                font-size: 16px;
                padding: 10px 15px;
                border: 2px solid #ccc;
                text-align: center;
                border-radius: 10px;
                font-weight: 600;
                background-color: #f0f0f0;
            }

        }

        .footer {
            padding: 20px;
            display: flex;
            gap: 10px;
            justify-content: flex-end;
            margin-top: 10px;

            .addType,
            .editType {
                padding: 5px 25px;
                border-radius: 3px;
                background-color: #ccc;
                cursor: pointer;

                &:hover {
                    filter: brightness(0.8)
                }
            }
        }

        // button{
        //     outline: none;
        //     border: none;
        // }
    }
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}